<div id="info">
	<div class="manual" data-manual="way">
		<div class="poster">
			<div class="circle"><div class="border"></div></div>
		</div>
		<div class="title">
			Выбери путь
		</div>
	</div>

	<div class="manual" data-manual="progress">
		<div class="poster">
			<div class="circle"><div class="border"></div></div>
		</div>
		<div class="title">
			Прокачивайся
		</div>
	</div>

	<div class="manual" data-manual="study">
		<div class="poster">
			<div class="circle"><div class="border"></div></div>
		</div>
		<div class="title">
			Выполняй задачи
		</div>
	</div>

	<div class="manual" data-manual="bonuce">
		<div class="poster">
			<div class="circle"><div class="border"></div></div>
		</div>
		<div class="title">
			Получай бонусы
		</div>
	</div>

	<div class="manual" data-manual="worker">
		<div class="poster">
			<div class="circle"><div class="border"></div></div>
		</div>
		<div class="title">
			Начни работать
		</div>
	</div>
</div>

<div id="welcomeFooter">
	<a href="#map"><div id="startButton">
		<div class="cursor">
			<div class="title">Начни</div>
			<div class="arrow"></div>
		</div>		
	</div></a>
</div>