.step {
    position: absolute;
    width: 67px;
}

.step .way {
    position: relative;
    width: 67px;
}

.step .way .connector {
    position: relative;
    width: 1px;
    height: 22px;

    margin: 0 auto;
    background-color: #ffffff;
}

.line{
    background-color: #ffffff;
    position: absolute;
}

.line-horizontal {
    margin-left: -0.5px;
    height: 1px;
}

.line-horizontal[data-num="1"] {
     width: 27%;
     left: 20%;
     bottom: 300px;
}

.line-horizontal[data-num="2"] {
    width: 27%;
    right: 20%;
    bottom: 300px;
}

.step[data-code] {
    margin-left: -33.5px;
}

.step[data-code="beginner"] {
    left: 50%;
    bottom: -10px;
}

.step[data-code="netDev"] {
    left: 50%;
    bottom: 126px;
}

.step[data-code="Arch"] {
    left: 50%;
    bottom: 348px;
}

.step[data-code="dbDev"] {
    left: 20%;
    bottom: 300px;
}

.step[data-code="frontDev"] {
    left: 80%;
    bottom: 300px;
}
